body {
    background-color: hsl(0, 0%, 98%);
    font-family: "Epilogue", sans-serif;
    margin: 20px 40px;
}

/* TOP BAR */

.topBar {
    display: flex;
    align-items: center;
    position: relative;
}
.navigationDiv {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: hsl(0, 0%, 41%);

    width: 100%;
}
#snap {
    margin: 0;
    margin-right: 40px;
    font-size: 30px;
    font-weight: bold;
}
.toggleNavigation {
    display: none;
}
.navigator {
    position: relative;
    min-width: fit-content;
    margin-left: 35px;
    cursor: pointer;
}

.navigator:hover {
    color: black;
    font-weight: bold;
}
.navigator p {
    margin: 0px;
}
.navigationBody {
    display: none;
    position: absolute;
    height: fit-content;
    width: max-content;
    box-shadow: 5px 5px 20px 0.3px rgb(224, 219, 219);
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    border-radius: 10px;
    padding: 10px;
    right: -10px;
    top: 30px;
}
.navigationBody img {
    width: 11px;
    margin-right: 5px;
}
.navButton {
    background-color: hsl(0, 0%, 98%);
    font-family: "Epilogue", sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 41%);
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.navButton:hover {
    color: black;
    font-weight: bold;
}
#registerButton {
    border: solid 2px;
}
#loginButton {
    margin-left: auto;
}
ul {
    padding: 0;
    list-style: none;
    display: inline;
}
li {
    margin: 15px;
    font-weight: normal;
}
li:hover {
    font-weight: bold;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-right: 0;
}
.infoDiv {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 100px;
    margin-left: 0;
    margin-right: 15%;
}
.infoDiv h1 {
    font-size: 80px;
    margin: 30px 0px;
}
.infoDiv p {
    font-size: 18px;
    color: hsl(0, 0%, 41%);
    max-width: 450px;
    line-height: 1.6;
}
.imageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 100px;
    /* margin: 100px 20px; */
}
.imageDiv img {
    width: 100%;
}
.learnMoreButton {
    font-family: "Epilogue", sans-serif;
    margin: 30px 0;
    padding: 15px 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}
.learnMoreButton:hover {
    background-color: hsl(0, 0%, 98%);
    color: black;
    border: solid 1px;
}
.buttomImageList {
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.buttomImageList img {
    max-width: 20%;
}

@media (max-width: 700px) {
    body {
        /* background-color: red; */
        margin: 0;
    }
    .topBar {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    .navigationDiv {
        display: none;
        position: absolute;
        flex-direction: column;
        padding: 0px;
        padding-top: 20px;
        top: 0;
        right: 0;
        background-color: hsl(0, 0%, 98%);
        align-items: flex-start;
        width: fit-content;
        height: 100vh;
        z-index: 9;
    }
    #overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .imageDiv {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .toggleNavigation {
        display: flex;
        align-self: flex-end;
    }
    #toggleNavigationOff {
        margin-right: 20px;
        margin-top: 10px;
    }
    .navigator {
        font-size: 16px;
        margin: 0px 30px;
    }
    .navigationHead {
        padding: 15px 0;
    }
    .navigationBody {
        position: relative;
        font-size: 16px;
        font-weight: lighter;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    ul {
        margin: 0;
    }
    #loginButton {
        margin-top: 40px;
        margin-left: 30px;
    }
    .navButton {
        align-self: center;
        padding: 10px 60px;
        margin: 0 30px;
    }
    main {
        flex-direction: column-reverse;
        padding: 0;
    }

    .infoDiv {
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: 0;
    }
    .infoDiv h1 {
        font-size: 9vw;
        margin: 30px 0px;
        margin-bottom: 0;
    }
    br {
        display: none;
    }
    .infoDiv p {
        font-size: 18px;
        color: hsl(0, 0%, 41%);
        max-width: none;
        padding: 25px;
        margin: 0;
        text-align: center;
    }
    .learnMoreButton {
        margin: 0;
        padding: 15px 25px;
    }
    .buttomImageList {
        width: 90%;
        margin-bottom: 30px;
    }
}
